In [88]:
import pandas as pd
import numpy as np

In [89]:
dt_old =pd.read_csv("nifty_f10.csv")

In [90]:
dt_new=dt_old['CLOSE']

In [91]:
dt_new

0     13198.00
1     13194.90
2     13187.85
3     13189.15
4     13177.00
        ...
70    13193.50
71    13186.45
72    13189.65
73    13191.85
74    13200.10
Name: CLOSE, Length: 75, dtype: float64

In [92]:
dt_col2 = []

In [93]:
i,j,k = 0,1,2

while k < 75:
    if dt_new[i] and dt_new[j] <= dt_new[k]:
        dt_col2.append("High")
    elif dt_new[i] and dt_new[j] >= dt_new[k]:
        dt_col2.append("Low")
    elif dt_new[i] >= dt_new[j] >= dt_new[k]:
        dt_col2.append("Low")  
    elif dt_new[i] <= dt_new[k] >= dt_new[j]:
        dt_col2.append("High")
    i += 1
    j += 1
    k += 1

In [94]:
dt_col2.insert(0,"NULL")
dt_col2.insert(1,"NULL")

In [95]:
dt_col2.remove(dt_col2[0])
dt_col2.remove(dt_col2[1])

In [96]:
len(dt_col2)

73

In [97]:
dt_col2.insert(1,"NULL")

In [98]:
new_DATA = pd.DataFrame(dt_col2,columns=['NEW CLOSE'])

In [99]:
new_DATA

   NEW CLOSE
0       NULL
1       NULL
2       High
3        Low
4       High
..       ...
69      High
70       Low
71      High
72      High
73      High

[74 rows x 1 columns]

In [100]:
close_data = pd.DataFrame(dt_new)

In [101]:
close_data

       CLOSE
0   13198.00
1   13194.90
2   13187.85
3   13189.15
4   13177.00
..       ...
70  13193.50
71  13186.45
72  13189.65
73  13191.85
74  13200.10

[75 rows x 1 columns]

In [102]:
Final_data = pd.concat([close_data,new_DATA],axis=1)

In [103]:
Final_data

       CLOSE NEW CLOSE
0   13198.00      NULL
1   13194.90      NULL
2   13187.85      High
3   13189.15       Low
4   13177.00      High
..       ...       ...
70  13193.50       Low
71  13186.45      High
72  13189.65      High
73  13191.85      High
74  13200.10       NaN

[75 rows x 2 columns]