In [4]:
import pandas as pd
import numpy as np
df = pd.read_csv("C:\\Users\\Admin\\Desktop\\NIFTY_F1.csv",names=['NIFTY','DATE','TIME','OPEN','HIGH','LOW','CLOSE','X','Y'],parse_dates=['DATE','TIME'])
df

,NIFTY,DATE,TIME,OPEN,HIGH,LOW,CLOSE,X,Y
0,NIFTY_F1,2020-12-03,2020-12-07 09:16:00,13210.20,13220.20,13176.00,13189.15,230550,11650425
1,NIFTY_F1,2020-12-03,2020-12-07 09:17:00,13189.80,13197.15,13185.00,13193.00,90150,11650425
2,NIFTY_F1,2020-12-03,2020-12-07 09:18:00,13193.90,13196.85,13188.05,13195.20,83025,11729400
3,NIFTY_F1,2020-12-03,2020-12-07 09:19:00,13195.65,13199.50,13192.20,13196.00,74025,11729400
4,NIFTY_F1,2020-12-03,2020-12-07 09:20:00,13196.25,13199.25,13195.35,13198.00,46650,11729400
...,...,...,...,...,...,...,...,...,...
370,NIFTY_F1,2020-12-03,2020-12-07 15:26:00,13191.85,13194.65,13191.20,13193.20,57075,12326100
371,NIFTY_F1,2020-12-03,2020-12-07 15:27:00,13193.10,13195.65,13192.90,13194.70,29925,12326100
372,NIFTY_F1,2020-12-03,2020-12-07 15:28:00,13194.90,13196.50,13194.75,13196.40,34650,12332325
373,NIFTY_F1,2020-12-03,2020-12-07 15:29:00,13197.00,13200.00,13196.50,13200.00,54975,12332325
374,NIFTY_F1,2020-12-03,2020-12-07 15:30:00,13199.70,13202.25,13198.55,13200.10,50550,12332325

In [5]:
df

,NIFTY,DATE,TIME,OPEN,HIGH,LOW,CLOSE,X,Y
0,NIFTY_F1,2020-12-03,2020-12-07 09:16:00,13210.20,13220.20,13176.00,13189.15,230550,11650425
1,NIFTY_F1,2020-12-03,2020-12-07 09:17:00,13189.80,13197.15,13185.00,13193.00,90150,11650425
2,NIFTY_F1,2020-12-03,2020-12-07 09:18:00,13193.90,13196.85,13188.05,13195.20,83025,11729400
3,NIFTY_F1,2020-12-03,2020-12-07 09:19:00,13195.65,13199.50,13192.20,13196.00,74025,11729400
4,NIFTY_F1,2020-12-03,2020-12-07 09:20:00,13196.25,13199.25,13195.35,13198.00,46650,11729400
...,...,...,...,...,...,...,...,...,...
370,NIFTY_F1,2020-12-03,2020-12-07 15:26:00,13191.85,13194.65,13191.20,13193.20,57075,12326100
371,NIFTY_F1,2020-12-03,2020-12-07 15:27:00,13193.10,13195.65,13192.90,13194.70,29925,12326100
372,NIFTY_F1,2020-12-03,2020-12-07 15:28:00,13194.90,13196.50,13194.75,13196.40,34650,12332325
373,NIFTY_F1,2020-12-03,2020-12-07 15:29:00,13197.00,13200.00,13196.50,13200.00,54975,12332325
374,NIFTY_F1,2020-12-03,2020-12-07 15:30:00,13199.70,13202.25,13198.55,13200.10,50550,12332325

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NIFTY   375 non-null    object
 1   DATE    375 non-null    datetime64[ns]
 2   TIME    375 non-null    datetime64[ns]
 3   OPEN    375 non-null    float64
 4   HIGH    375 non-null    float64
 5   LOW     375 non-null    float64
 6   CLOSE   375 non-null    float64
 7   X       375 non-null    int64
 8   Y       375 non-null    int64
dtypes: datetime64[ns](2), float64(4), int64(2), object(1)
memory usage: 26.5+ KB

In [7]:
df.isnull()

     NIFTY   DATE   TIME   OPEN   HIGH    LOW  CLOSE      X      Y
0    False  False  False  False  False  False  False  False  False
1    False  False  False  False  False  False  False  False  False
2    False  False  False  False  False  False  False  False  False
3    False  False  False  False  False  False  False  False  False
4    False  False  False  False  False  False  False  False  False
..     ...    ...    ...    ...    ...    ...    ...    ...    ...
370  False  False  False  False  False  False  False  False  False
371  False  False  False  False  False  False  False  False  False
372  False  False  False  False  False  False  False  False  False
373  False  False  False  False  False  False  False  False  False
374  False  False  False  False  False  False  False  False  False

[375 rows x 9 columns]

In [11]:
df = df.drop("NIFTY",axis=1)

KeyError: "['NIFTY'] not found in axis"

In [13]:
df.set_index('TIME',inplace=True)

KeyError: "None of ['TIME'] are in the columns"

In [14]:
df.drop("DATE",axis=1)

                         OPEN      HIGH       LOW     CLOSE       X         Y
TIME
2020-12-07 09:16:00  13210.20  13220.20  13176.00  13189.15  230550  11650425
2020-12-07 09:17:00  13189.80  13197.15  13185.00  13193.00   90150  11650425
2020-12-07 09:18:00  13193.90  13196.85  13188.05  13195.20   83025  11729400
2020-12-07 09:19:00  13195.65  13199.50  13192.20  13196.00   74025  11729400
2020-12-07 09:20:00  13196.25  13199.25  13195.35  13198.00   46650  11729400
...                       ...       ...       ...       ...     ...       ...
2020-12-07 15:26:00  13191.85  13194.65  13191.20  13193.20   57075  12326100
2020-12-07 15:27:00  13193.10  13195.65  13192.90  13194.70   29925  12326100
2020-12-07 15:28:00  13194.90  13196.50  13194.75  13196.40   34650  12332325
2020-12-07 15:29:00  13197.00  13200.00  13196.50  13200.00   54975  12332325
2020-12-07 15:30:00  13199.70  13202.25  13198.55  13200.10   50550  12332325

[375 rows x 6 columns]

In [20]:
NIFTY = df.groupby(pd.Grouper(freq='5Min',closed='right',label='right')).agg({
                                        "OPEN":  "first",
                                        "HIGH":  "max",
                                        "LOW":   "min",
                                        "CLOSE": "last",
                                        "X": "sum",
                                        "Y" :"sum"
                                    })

In [21]:
NIFTY

                         OPEN      HIGH       LOW     CLOSE       X         Y
TIME
2020-12-07 09:20:00  13210.20  13220.20  13176.00  13198.00  524400  58489050
2020-12-07 09:25:00  13196.35  13201.30  13181.50  13194.90  226725  58912275
2020-12-07 09:30:00  13195.00  13197.10  13183.60  13187.85  113325  59038350
2020-12-07 09:35:00  13188.60  13193.00  13185.75  13189.15  101775  59072625
2020-12-07 09:40:00  13189.75  13190.80  13171.05  13177.00  148200  59192700
...                       ...       ...       ...       ...     ...       ...
2020-12-07 15:10:00  13180.90  13194.95  13180.00  13193.50   84675  61803900
2020-12-07 15:15:00  13193.10  13193.75  13185.65  13186.45  121650  61855950
2020-12-07 15:20:00  13186.45  13190.35  13185.00  13189.65  126150  61804425
2020-12-07 15:25:00  13189.10  13192.50  13188.00  13191.85  194250  61688550
2020-12-07 15:30:00  13191.85  13202.25  13191.20  13200.10  227175  61649175

[75 rows x 6 columns]